        * {
            margin: 0;
            padding: 0;
        }
        
        body {
            font-family: Arial, Helvetica, sans-serif;
            padding-top: 25px;
        }
        
        .container {
            width: 70%;
            margin: 0px auto;
            height: 80%;
            border-radius: 25px;
            background-color: #c2a6a6;
            margin: 0px auto !important;
            padding: 0px auto !important;
            padding-bottom: 5px;
        }
        
        header {
            margin: 0px auto !important;
            padding: 0px auto !important;
            background-color: #000000;
            width: 100%;
            height: 130px;
            text-align: center;
            border-radius: 10px;
        }
        
        nav {
            background-color: #000000;
            width: 100%;
            height: 50px;
            color: white;
            font-size: 20px;
            line-height: 50px;
            border-radius: 10px;
            list-style: none;
            text-align: center;
            padding-top: 3px;
        }
        
        nav a:hover {
            background-color: rgb(0, 0, 0);
            height: 10px;
            color: rgb(185, 185, 185);
            line-height: 30px;
            border-radius: 10px;
        }
        
        .active {
            color: rgb(36, 32, 255);
        }
        
        li a {
            color: rgb(255, 255, 255);
            list-style: none;
            text-decoration: none;
        }
        
        li {
            display: inline;
        }
        
        li a {
            display: inline;
            padding: 10px;
        }
        
        .Seccion_sobremi {
            margin: 0 auto;
            margin-top: 10px;
            padding-bottom: 25px;
            width: 65%;
            height: 100%;
            background-color: rgb(0, 0, 0);
            border-radius: 25px;
            border-top-left-radius: 26px;
            border-top-right-radius: 26px;
            float: left;
        }
        
        article {
            margin: auto;
            margin-top: 40px;
            width: 95%;
            height: 100%;
            border-radius: 25px;
            border-top-left-radius: 26px;
            border-top-right-radius: 26px;
            text-align: center;
        }
        
        article img {
            width: 30%;
        }
        
        section {
            margin: 0 auto;
            margin-top: 10px;
            padding-bottom: 25px;
            width: 65%;
            height: 100%;
            background-color: rgb(0, 0, 0);
            border-radius: 25px;
            border-top-left-radius: 26px;
            border-top-right-radius: 26px;
            float: left;
        }
        
        section h2 {
            color: rgb(255, 255, 255);
        }
        
        section p {
            color: rgb(255, 255, 255);
        }
        
        article {
            margin: auto;
            margin-top: 40px;
            width: 95%;
            height: 100%;
            background-color: #000000;
            border-radius: 25px;
            border-top-left-radius: 26px;
            border-top-right-radius: 26px;
        }
        
        .clearfix {
            clear: both;
        }
        /* Octava Regla para el Aside */
        
        aside {
            margin: 15px;
            padding-left: 5px;
            padding-right: 5px;
            padding-bottom: 25px;
            margin-top: 1px;
            width: 30%;
            height: 100%;
            background-color: #000000;
            border-radius: 25px;
            border-top-left-radius: 26px;
            border-top-right-radius: 26px;
            float: left;
        }
        
        aside img {
            width: 98%;
            height: auto;
        }
        
        img {
            height: auto;
            border-radius: 25px;
            margin: 0px auto !important;
            padding: 0px auto !important;
        }
        
        .clearfix {
            float: none;
            clear: both;
        }
        
        footer {
            background-color: #000000;
            width: 100%;
            height: 70px;
            color: white;
            font-size: 50px;
            text-align: center;
            line-height: 5px;
            border-radius: 10px;
            margin-top: 10px;
        }
        
        footer p {
            color: white;
            font-size: 30px;
            text-align: center;
            line-height: 50px;
        }
        
        article p {
            color: rgb(255, 255, 255);
            font-size: 25px;
            text-align: justify;
            margin: 10px;
            padding: 10px;
        }
        
        aside p {
            color: rgb(255, 255, 255);
            font-size: 25px;
            text-align: justify;
            margin: 10px;
            padding: 10px;
        }
        
        .Seccion_sobremi table {
            margin-top: 10px;
            margin: 50px;
        }
        
        .Seccion_sobremi p {
            margin-top: 0;
        }
        
        .social i {
            text-align: center;
            width: 111px;
        }
        
        .video {
            text-align: center;
        }
        
        aside h2 {
            color: rgb(0, 0, 0);
        }
        
        aside h3 {
            color: rgb(0, 0, 0);
        }
        
        p {
            font-size: 18px;
            margin-top: 25px;
            text-align: justify;
            margin-left: 25px;
            margin-right: 25px;
            color: beige;
        }
        
        .nombre {
            font-size: 48px;
            margin-top: 25px;
            text-align: center;
            margin-left: 25px;
            margin-right: 25px;
        }
        
        h2 {
            font-size: 26px;
            text-align: center;
            margin-left: 25px;
            margin-right: 25px;
            padding-top: 20px;
        }
        
        h3 {
            font-size: 20px;
            text-align: center;
            margin-left: 25px;
            margin-right: 25px;
            padding-top: 20px;
            padding-bottom: 20px;
            background-color: #616161;
            border-radius: 10px;
        }
        
        .frase {
            text-shadow: 2px 2px 5px green;
            font-size: 25px;
            text-align: center;
        }
        /*         .icon-bar{
            width: 90%;
            height: auto;
            font-size: 50px;
            margin: auto;
            display: inline;
            text-align: justify;
        }
      */
        /* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
        
        .icon-bar {
            position: fixed;
            top: 20%;
            margin-left: 430px;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
        }
        /* Style the icon bar links */
        
        .icon-bar a {
            display: block;
            text-align: center;
            padding: 16px;
            transition: all 0.3s ease;
            color: white;
            font-size: 20px;
        }
        /* Style the social media icons with color, if you want */
        
        .icon-bar a:hover {
            background-color: #000;
        }
        
        .facebook {
            background: #1707f8;
            color: white;
        }
        
        .twitter {
            background: #55ACEE;
            color: white;
        }
        
        .instagram {
            background: #d722dd;
            color: white;
        }
        
        .linkedin {
            background: #007bb5;
            color: white;
        }
        
        .youtube {
            background: #bb0000;
            color: white;
        }
        
        .Seccion_sobremi {
            margin: 0 auto;
            margin-top: 10px;
            padding-bottom: 25px;
            width: 99%;
            height: 100%;
            background-color: rgb(0, 0, 0);
            border-radius: 25px;
            border-top-left-radius: 26px;
            border-top-right-radius: 26px;
            float: left;
        }
        
        article {
            margin: auto;
            margin-top: 40px;
            width: 95%;
            height: 100%;
            background-color: #666666;
            border-radius: 25px;
            border-top-left-radius: 26px;
            border-top-right-radius: 26px;
        }
        
        .foto {
            display: block;
            margin: auto;
            width: 250px;
            height: 200px;
            border-radius: 120%;
            border-image-slice: 5;
            margin-right: 3px;
            border: 1px dashed blue;
        }
        
        .Habilidades {
            background-color: #fbc531;
            font-size: 25px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 700;
            text-align: center;
            color: #192a56;
            border-radius: 100%;
            border-image-slice: 5;
        }
        
        .certificados {
            font-size: 23px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 700;
            text-align: center;
            color: #192a56;
            border-image-slice: 5;
        }
        /* SECCION DE PORTAFOLIO */
        /* Center website */
        
        .main {
            width: 100%;
            margin: auto;
        }
        
        * {
            box-sizing: border-box;
        }
        
        body {
            margin: 0;
            font-family: Arial;
        }
        
        .header {
            text-align: center;
            padding: 32px;
        }
        
        .row {
            display: -ms-flexbox;
            /* IE10 */
            display: flex;
            -ms-flex-wrap: wrap;
            /* IE10 */
            flex-wrap: wrap;
            padding: 0 4px;
        }
        /* Create four equal columns that sits next to each other */
        
        .column {
            -ms-flex: 25%;
            /* IE10 */
            flex: 25%;
            max-width: 25%;
            padding: 0 4px;
        }
        
        .column img {
            margin-top: 8px;
            vertical-align: middle;
            width: 100%;
        }
        /* Responsive layout - makes a two column-layout instead of four columns */
        
        @media screen and (max-width: 800px) {
            .column {
                -ms-flex: 50%;
                flex: 50%;
                max-width: 50%;
            }
        }
        /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
        
        @media screen and (max-width: 600px) {
            .column {
                -ms-flex: 100%;
                flex: 100%;
                max-width: 100%;
            }
        }
        /* FIN DE SECCION DE PORTAFOLIO */
        /*TABLA DE CURSOS*/
        
        .CURSOS {
            font-family: Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 95%;
            margin: 0 auto !important;
        }
        
        .CURSOS td,
        th {
            border: 1px solid red;
            padding: 8px;
        }
        
        .CURSOS td:hover {
            background-color: yellow;
        }
        
        .CURSOS {
            text-align: center;
            background-color: honeydew;
            color: blue;
        }
        /*FIN TABLA DE CURSOS*/
        /*ESTILO PARA EL FORMULARIO */
        /*Estilo para el Fomulario de Conatacto*/
        
        .container {
            background-color: #dcdde1;
            padding: 18px;
        }
        
        input[type=text],
        select,
        textarea {
            width: 100%;
            padding: 18px;
            border: 1px solid white;
            border-radius: 4px;
            resize: vertical;
        }
        
        label {
            font-size: 20px;
            padding: 20px;
            display: inline-block;
        }
        
        input[type=submit] {
            width: 100%;
            font-size: 20px;
            background-color: #4CAF50;
            color: white;
            padding: 12px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            float: right;
            border-radius: 25px;
            border: 5px solid #fafafa;
            margin: 0px auto !important;
            padding: 0px auto !important;
        }
        
        input[type=submit]:hover {
            background-color: #45a049;
        }
        
        .container_Form {
            border-radius: 5px;
            background-color: #fffdfd;
            padding: 20px;
        }
        
        .col-25 {
            float: left;
            width: 25%;
            margin-top: 6px;
        }
        
        .col-75 {
            float: left;
            width: 75%;
            margin-top: 6px;
        }
        /*FIN ESTILO PARA EL FORMULARIO */
        /* ESTILO RESPONSIVE */
        
        @media only screen and (max-width: 896px) and (min-width: 320px) {
            .container {
                width: 100%;
                margin: 0px auto;
                height: 80%;
                border-radius: 25px;
                background-color: #c2a6a6;
                margin: 0px auto !important;
                padding: 0px auto !important;
                padding-bottom: 5px;
            }
            header {
                margin: 0px auto !important;
                padding: 0px auto !important;
                background-color: #00a8ff;
                width: 95%;
                height: 60px;
                margin-top: 20px;
                text-align: center;
                line-height: 60px;
                border-radius: 10px;
                color: white;
                border: 2px solid red;
            }
            h1 {
                font-size: 14px;
                font-family: Arial, Helvetica, sans-serif;
                font-weight: 700;
            }
            nav {
                background-color: #fbc531;
                width: 100%;
                height: 50px;
                color: white;
                font-size: 12px;
                line-height: 50px;
                border: 2px solid red;
                border-radius: 10px;
                list-style: none;
                margin: 0px auto !important;
                padding: 0px auto !important;
            }
            nav a:hover {
                background-color: white;
                height: 40px;
                color: black;
                line-height: 30px;
                border-radius: 10px;
            }
            li a {
                list-style: none;
            }
            li {
                display: inline;
            }
            li a {
                display: inline;
                padding: 4px;
                margin-top: 10px;
                padding-top: 20px;
                margin: 0px auto !important;
                padding: 0px auto !important;
            }
            .Seccion_sobremi {
                margin: 0 auto;
                margin-top: 10px;
                padding-bottom: 25px;
                width: 95%;
                height: 100%;
                background-color: rgb(207, 210, 228);
                border-radius: 25px;
                border-top-left-radius: 26px;
                border-top-right-radius: 26px;
                border: 1px solid #009432;
                float: left;
            }
            .foto {
                width: 55%;
                height: 50%;
            }
            .frase {
                text-shadow: 2px 2px 5px red;
            }
            article {
                margin: auto;
                margin-top: 40px;
                width: 99%;
                height: 100%;
                background-color: #0be881;
                border-radius: 25px;
                border-top-left-radius: 26px;
                border-top-right-radius: 26px;
                border: 1px solid #009432;
            }
            section {
                margin: 0 auto;
                margin-top: 10px;
                padding-bottom: 25px;
                width: 95%;
                height: 100%;
                background-color: rgb(207, 210, 228);
                border-radius: 25px;
                border-top-left-radius: 26px;
                border-top-right-radius: 26px;
                border: 1px solid #009432;
                float: left;
            }
            article {
                margin: auto;
                margin-top: 40px;
                width: 95%;
                height: 100%;
                background-color: #f8f8f8;
                border-radius: 25px;
                border-top-left-radius: 26px;
                border-top-right-radius: 26px;
                border: 1px solid #009432;
            }
            .clearfix {
                clear: both;
            }
            /* Octava Regla para el Aside */
            aside {
                margin: 15px;
                padding-left: 5px;
                padding-right: 5px;
                padding-bottom: 25px;
                margin-top: 10px;
                width: 100%;
                height: 100%;
                background-color: #ffffff;
                border-radius: 25px;
                border-top-left-radius: 26px;
                border-top-right-radius: 26px;
                border: 1px solid #009432;
                float: left;
            }
            img {
                width: 97%;
                height: auto;
                border-radius: 25px;
                border: 5px solid #fafafa;
                margin: 0px auto !important;
                padding: 0px auto !important;
            }
            .clearfix {
                float: none;
                clear: both;
            }
            footer {
                background-color: #34ace0;
                width: 100%;
                height: 100px;
                color: white;
                font-size: 16px;
                text-align: center;
                line-height: 50px;
                border: 2px solid red;
                border-radius: 10px;
                margin-top: 10px;
            }
            footer p {
                color: white;
                font-size: 12px;
                text-align: center;
                line-height: 50px;
            }
            article p {
                color: black;
                font-size: 18px;
                text-align: justify;
                margin: 10px;
                padding: 10px;
            }
            aside p {
                color: black;
                font-size: 18px;
                text-align: justify;
                margin: 10px;
                padding: 10px;
            }
            p {
                font-size: 16px;
                margin-top: 25px;
                text-align: justify;
                margin-left: 25px;
                margin-right: 25px;
            }
            h2 {
                font-size: 20px;
                text-align: center;
                margin-left: 25px;
                margin-right: 25px;
                padding-top: 20px;
            }
            h3 {
                font-size: 16px;
                text-align: center;
                margin-left: 25px;
                margin-right: 25px;
                padding-top: 20px;
                padding-bottom: 20px;
                background-color: orange;
                border: 2px solid red;
                border-radius: 10px;
            }
            .clearfix {
                clear: both;
            }
            .Habilidades {
                background-color: #f8f8f8;
                font-size: 16px;
                font-family: Arial, Helvetica, sans-serif;
                font-weight: 700;
                text-align: center;
                color: #192a56;
            }
            .certificados {
                font-size: 16px;
                font-family: Arial, Helvetica, sans-serif;
                font-weight: 700;
                text-align: justify;
                color: #192a56;
                border-image-slice: 5;
            }
            .nombre {
                font-size: 28px;
                margin-top: 28px;
                text-align: center;
                margin-left: 25px;
                margin-right: 25px;
            }
            /*TABLA DE CURSOS*/
            .CURSOS {
                font-family: Arial, Helvetica, sans-serif;
                border-collapse: collapse;
                width: 95%;
                margin: 0 auto !important;
            }
            .CURSOS td,
            th {
                border: 1px solid red;
                padding: 8px;
            }
            .CURSOS td:hover {
                background-color: yellow;
            }
            .CURSOS th:hover {
                background-color: green;
            }
            .CURSOS {
                text-align: center;
                background-color: honeydew;
                color: blue;
            }
            /*FIN TABLA DE CURSOS*/
            /*ESTILO PARA EL FORMULARIO */
            /*Estilo para el Fomulario de Conatacto*/
            .container {
                background-color: #f5f6fa;
            }
            input[type=text],
            select,
            textarea {
                width: 100%;
                padding: 12px;
                border: 1px solid white;
                border-radius: 4px;
                resize: vertical;
            }
            label {
                padding: 12px 12px 12px 0;
                display: inline-block;
                font-size: 12px;
            }
            input[type=submit] {
                background-color: #4CAF50;
                width: 50%;
                color: white;
                padding: 12px 20px;
                border: none;
                border-radius: 4px;
                cursor: pointer;
                float: right;
                border-radius: 25px;
                border: 5px solid #fafafa;
                margin: 0px auto !important;
                padding: 0px auto !important;
            }
            input[type=submit]:hover {
                background-color: #45a049;
            }
            .container_Form {
                border-radius: 5px;
                background-color: #fffdfd;
                padding: 20px;
            }
            .col-25 {
                float: left;
                width: 25%;
                margin-top: 6px;
            }
            .col-75 {
                float: left;
                width: 75%;
                margin-top: 6px;
            }
        }
        /* FIN ESTILOS RESPONSIVE*/